.post-img{
height:350px;
overflow:hidden;
margin-top:14px;
}
.post-img img{
width:100%;
}
.blog-post-content{
/* background-color:purple;   */
}
.blog-post-content h1{
text-align:center;
}
.blog-post-content p{
font-size:20px;
}
.row{
display:flex;
}
.more-post{
flex-direction:column;
align-items:center;
}
.blogpost-meta{
/* background-color:red; */
display:flex;
justify-content:space-between;
}
.author-info{
margin:12px 0;
}
.author-info div{
padding: 4px 0;
}
.social{
padding-right:5px;
align-self:center;
cursor:pointer;
}

