:root {
--main-bg-color:brown;
}
.m-auto {
margin: auto;
}
.max-width-1 {
max-width:80vw;
}
.max-width-2 {
max-width: 60vw;
}
.my-2{
margin-buttom:12px;
margin-buttom:12px;
}
mx-1{
margin-left:23px;
margin-right:23px;
}
.btn {
padding: 0px;
border: 3px solid   black;
border-radius:4px;
font-size: 16px;
cursor:pointer;
transition: all  0.3s ease-in-out;
}
.btn:hover {
color:white;
background-color: var(--main-bg-color);
}
.form-input{
padding: 0px   5px;
font-size:16px;
border:2px  solid  black;
border-radius: 4px;
margin: 0  13px;
font-family:arial;
}
.center {
text-align:center;
}